:root {
  box-sizing: border-box;
  --primary: rgba(42, 69, 141, 1);
  --primarylight: rgba(159, 212, 202, 1);
  --primarydark: rgba(34, 80, 103, 1);
  --primaryverylight: rgba(127, 161, 255, 0.25);
  --black: rgba(39, 39, 39, 1);
  --black76: rgba(39, 39, 39, 0.76);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  object-fit: none;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

img {
  object-fit: contain;
}

.contentGap {
  margin-bottom: 40px;
}

/* Navbar styling */
.navbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  background-color: white;
  position: fixed;
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 1440px;
  width: 100%;
}

.navLogo {
  height: 48px;
  width: auto;
}

.navButtons {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 0;
}

ul,
li,
a {
  text-decoration: none;
  color: var(--black);
}

.navButton {
  display: inline-block;
  width: auto;
  padding: 0 10px 0 10px;
}

.contactButton {
  background-color: var(--primary);
  border: 0;
  padding: 12px 20px 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  color: white;
}

/* Hero styling */
.heroSection {
  display: flex;
  justify-content: center; /* Sentrerer innholdet horisontalt */
  align-items: center; /* Sentrerer innholdet vertikalt */
  background: url(/images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* Dekker hele bredden av viewport */
}

.heroSectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  max-width: 1440px; /* Tilpasser bredden til containeren */
  padding: 196px 0 120px 0;
  margin: auto; /* Sentrerer innholdet innenfor maks bredde */
}

.heroSection div {
  width: 50%;
}

.heroSection h1 {
  margin-bottom: 20px;
}

.heroSection p {
  margin-bottom: 40px;
}

.omOssImage {
  width: 50%;
}

/* About us styling */
.centerAlign {
  text-align: center;
  padding: 120px 0 120px 0;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.aboutSection div {
  width: 45%;
}
.aboutSection img {
  width: 45%;
  max-width: 550px;
  border-radius: 2px;
}

.aboutSection h3 {
  margin-bottom: 4px;
  width: 100%;
}

.aboutSection p {
  width: 100%;
}

.textContainer {
  width: 100%;
}

.aboutText {
  text-align: start;
}

.aboutSection h3:not(:first-child) {
  margin-top: 40px;
}

/* Behandlinger styling */
.behandlinger {
  width: 100vw;
  padding: 64px 0 64px 0;
  text-align: center;
  background-color: var(--primaryverylight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.behandlinger h2 {
  margin-bottom: 4px;
  color: var(--primary);
}

.behandlingbody {
  color: var(--primary);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  gap: 20px;
}

.behandlingerCard {
  overflow: hidden;
  border-radius: 2px;
  width: 345px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left; /* Justerer innholdet i containeren til venstre */
}

.behandlingerCard img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cardText {
  text-align: start;
  overflow: hidden; /* Håndter tekstoppløsningen */
}

.alignment {
  padding: 20px 16px;
}

.cardText p {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  max-height: 80px;
  overflow: hidden;
}

.primaryBtn {
  border: none;
  border-radius: 5px;
  background: rgba(127, 161, 255, 0.25);
  color: var(--primarydark);
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  padding: 8px 16px;
  align-self: flex-start;
  margin-top: 20px;
}

.primaryBtn:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.primaryBtn:focus {
  background-color: var(--primary);
  color: white;
}

.simpleBtn {
  background: none;
  border: none;
  color: var(--primary);
  padding: 0;
  font-weight: 600;
  margin-top: 8px;
}

.simpleBtn:hover {
  cursor: pointer;
}

.primaryBtn:focus {
  background-color: var(--primary);
  color: white;
}

/* Booking */
/* .booking {
  width: 100vw;
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingSection {
  max-width: 1440px;
  width: 100%;
} */

/* Booking modal */
.modal {
  display: none;
  position: fixed;
  z-index: 51;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: auto auto;
  padding: 32px;
  border: 4px solid var(--primary);
  width: 50%;
  border-radius: 10px;
}

.tilbakeBtn {
  color: var(--primary);
  border: none;
  background: none;
  padding: 0;
}

.tilbakeBtn:hover {
  cursor: pointer;
}

/* Kalender og dag-styling */
#kalender {
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 32px;
}

.kalender-dag {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.kalender-dag div {
  margin-bottom: 5px;
}

/* Aktive dager (Torsdager) */
.kalender-dag.aktiv {
  background-color: #e0ffe0; /* Lys grønn bakgrunn */
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
}

.kalender-dag.aktiv:hover {
  background-color: #b2ffb2; /* Mørkere grønn ved hover */
}

/* Inaktive dager */
.kalender-dag.inaktiv {
  background-color: #e0e0e0; /* Lys grå bakgrunn */
  color: #a0a0a0; /* Lysere tekst for inaktive dager */
  text-align: left;
}

/* Tilleggsklasser for spesifikke stiler, om nødvendig */
/* .din-ekstra-klasse-1 { ... } */
/* .din-ekstra-klasse-2 { ... } */
/* .din-ekstra-klasse-3 { ... } */

/* Stiler for navigasjonsknapper */
/* .navigasjonsknapp { ... } */
/* .navigasjonsknapp:hover { ... } */

/* Stil for 'I dag'-knappen */
/* .idag-knapp { ... } */
/* .idag-knapp:hover { ... } */

/* Utvalgte produkter */
.utvalgteContainer {
  max-width: 1440px;
  width: 100%;
  padding: 64px 0 64px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow-x: hidden;
}

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  gap: 40px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

.productCard {
  position: relative;
  text-align: left;
}

.productImgContainer:hover .productOverlay {
  display: block;
}

.infoContainer {
  margin-top: 24px;
}

.productOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Svart overlay med litt gjennomsiktighet */
  z-index: 2;
}

.detailButton {
  position: absolute;
  top: 50%; /* Sentrerer vertikalt */
  left: 50%; /* Sentrerer horisontalt */
  transform: translate(-50%, -50%); /* Justerer for nøyaktig sentrering */
  padding: 12px 24px;
  background: none;
  border: 1.5px solid white;
  cursor: pointer;
  color: white;
  border-radius: 100px;
}

.productImgContainer {
  position: relative;
}

.productImgContainer:hover .productOverlay {
  display: block;
}

.productImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 12px 0;
}

.priceCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceCart p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
}

.priceCart button {
  background: none;
  border: none;
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
}

/* Fordeler ved våre produkter */
.fordeler {
  width: 100vw;
  padding: 64px 0 64px 0;
  text-align: center;
  background-color: var(--primaryverylight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fordeler h2 {
  margin-bottom: 40px;
  color: var(--primarydark);
}

.fordeler h5 {
  margin-top: 32px;
  color: var(--primarydark);
}

.fordelerContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fordelCard {
  background: white;
  padding: 40px 32px 40px 32px;
  border-radius: 2px;
}

/* Footer */
.footer {
  width: 100vw;
  padding: 64px 0 64px 0;
  text-align: center;
  background: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowGroup {
  display: flex;
  flex-direction: row;
}
